# Database
MONGO_URI= #ACCESS cloud.mongodb.com
FIREBASE_DATABASE_URL= #ACCESS console.firebase.google.com

# Authentication
JWT_SECRET= #Generate a strong secret key for JWT
SESSION_SECRET= #Generate a strong secret key for session management

# Midtrans
MIDTRANS_SERVER_KEY= #ACCESS dashboard.sandbox.midtrans.com
MIDTRANS_CLIENT_KEY= #ACCESS dashboard.sandbox.midtrans.com

# Cloudinary
CLOUDINARY_CLOUD_NAME= #ACCESS cloudinary.com
CLOUDINARY_API_KEY= #ACCESS cloudinary.com
CLOUDINARY_API_SECRET= #ACCESS cloudinary.com

# Google
GOOGLE_CLIENT_ID= #ACCESS console.cloud.google.com
GOOGLE_CLIENT_SECRET= #ACCESS console.cloud.google.com

# App
FRONTEND_URL=http://localhost:5173 
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173
ENABLE_DEBUG_TOKEN_LOGGER=false
PORT=5000
VITE_API_URL=http://localhost:5000 
# Rate limit
MODE=ON # Gunakan Mode ON untuk production dan OFF untuk development agar tidak terkena rate limit.
RATE_LIMIT_WINDOW_MS=900000 # Atur waktu rate_limit_window_ms dalam milidetik (ms) 
RATE_LIMIT_MAX=600 # Atur rate_limit_max untuk jumlah maksimum permintaan yang diizinkan untuk melakukan reqeuest dalam jangka waktu rate_limit_window_ms.

# Ai-Service
AI_SERVICE_URL=http://localhost:8000 # URL Ai-Service